<form class="form-horizontal" role="form">

  <fieldset>
    <legend class="">填写题干</legend>
    <div class="form-group">
      <div class="col-sm-9"><input name="testStem" type="text" class="form-control" [(ngModel)]="item.testStem"
                                   required placeholder="请填写题干"></div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="">填写选项</legend>
    <div class="form-group">
      <div class="col-sm-9">
        <div class="input-group">
          <span class="input-group-addon">A</span>
          <input [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="cpaOption.optionData"
                 placeholder="请填写选项内容">
          <input style="display: none" [ngModelOptions]="{standalone: true}" class="form-control"
                 value="A" [(ngModel)]="cpaOption.selectData">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9">
        <div class="input-group">
          <span class="input-group-addon">B</span>
          <input [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="cpaOption.optionData"
                 placeholder="请填写选项内容">
          <input style="display: none" [ngModelOptions]="{standalone: true}" class="form-control"
                 value="B" [(ngModel)]="cpaOption.selectData">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9">
        <div class="input-group">
          <span class="input-group-addon">C</span>
          <input [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="cpaOption.optionData"
                 placeholder="请填写选项内容">
          <input style="display: none" [ngModelOptions]="{standalone: true}" class="form-control"
                 value="C" [(ngModel)]="cpaOption.selectData">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9">
        <div class="input-group">
          <span class="input-group-addon">D</span>
          <input  class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cpaOption.optionData"
                 placeholder="请填写选项内容">
          <input style="display: none"  class="form-control"
                 value="D" [ngModelOptions]="{standalone: true}" [(ngModel)]="cpaOption.selectData" >
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="">试题类型</legend>
    <div class="form-group">
      <div class="col-sm-9">
        <label class="radio-inline">
          <input name="multiple" type="radio" value="1" checked="checked" name="group">
          单选题
        </label>
        <label class="radio-inline">
          <input name="multiple" type="radio" value="2" name="group">
          多选题
        </label>
        <div class="controls">
          <select class="input-xlarge" [(ngModel)]="item.testType">
            <option value="basicAccount">会计基础</option>
            <option value="cpuAccount">会计电算化</option>
            <option value="statuteEthics">财经法规与职业道德</option>
          </select>
        </div>

      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="">标准答案</legend>
    <div class="form-group">
      <div class="col-sm-9">
        <label class="radio-inline">
          <input type="radio" value="1" checked="checked" name="basic" [(ngModel)]="item.bresult">
          A
        </label>
        <label class="radio-inline">
          <input type="radio" value="2" name="basic" [(ngModel)]="item.bresult">
          B
        </label>
        <label class="radio-inline">
          <input type="radio" value="2" name="basic" [(ngModel)]="item.bresult">
          C
        </label>
        <label class="radio-inline">
          <input type="radio" value="2" name="basic" [(ngModel)]="item.bresult">
          D
        </label>
      </div>
    </div>
  </fieldset>

  <div class="col-sm-offset-2">
    <button type="submit" class="btn btn-default" (click)="submitItem()">提交</button>
  </div>

</form>
