<form class="form-inline" #searchForm="ngForm" (ngSubmit)="getListExam()">
    <div class="form-group">
      <label for="testStemSearch" class="col-auto col-form-label">题干名称</label>
      <div class="col-sm-5">
        <input type="text" [(ngModel)]="cpaRepertory.testStem" class="form-control" id="testStemSearch" name="testStem"
               placeholder="输入要搜索的试题">
      </div>
    </div>
    <div class="form-group">
      <label for="testType" class="col-auto col-form-label">试题类型</label>
      <select class="form-control custom-select" [(ngModel)]="cpaRepertory.testType" name="testType" id="testType">
        <option></option>
        <option value="basicAccount">会计基础</option>
        <option value="cpuAccount">会计电算化</option>
        <option value="statuteEthics">财经法规与职业道德</option>
      </select>
    </div>
      <button type="submit" class="btn btn-outline-default ml-4">搜索</button>
</form>

<div class="table-responsive">

<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>题干</th>
    <th>类型</th>
    <th>题型</th>
    <th>时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of ListExam;let i = index">
    <td>{{(bigCurrentPage-1)*pageSize+i+1}}</td>
    <td>
          <span triggers="mouseenter:mouseleave" container="" popover="{{item.testStem}}" placement="auto">
            {{item.testStem|sliceString:0:25:'...'}}
          </span>

    </td>
    <td>{{item.testType}}</td>
    <td>{{item.choice}}</td>
    <td>{{item.insertDate}}</td>
    <!--试题ID-->
    <!--<td>{{item.id}}</td>-->
    <td #idEle abbr="{{item.id}}">
      <a href="javascript:void(0)" (click)="getExamDetail(idEle)">修改</a>
      <a href="javascript:void(0)" (click)="delExamTip(idEle)">删除</a>
    </td>

  </tr>
  </tbody>
</table>
</div>

<!--分页DOM-->
<div class="paging_column_flex">
  <div class="form-row align-items-center">
    <!--currentLoadSize*1是为了将currentLoadSize转型为int,否则为字符串类型-->
    当前显示第{{(bigCurrentPage-1)*pageSize+1}}到第{{(bigCurrentPage-1)*pageSize+currentLoadSize*1}}条记录，总共{{bigTotalItems}}条记录，
    每页显示
    <div class="col-auto my-1">
      <select class="custom-select mr-sm-2" [(ngModel)]="pageSize" (change)="changePageSize($event.target.value)">
        <option *ngFor="let size of pageSizeList">{{size}}</option>
      </select>
    </div>
    <div class="col-auto my-1">
      条记录
    </div>
  </div>
  <div>
    <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                [boundaryLinks]="true"
                [rotate]="false" (numPages)="numPages = $event" [itemsPerPage]="itemsPerPage"
                (pageChanged)="pageChanged($event)" firstText="首页"
                lastText="末页" nextText="下一页" previousText="上一页"></pagination>
  </div>
</div>

<!--修改试题Modal-->
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #udpExamModal="bs-modal"
     class="modal fade"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">试题修改</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" #updExamForm="ngForm" (ngSubmit)="updExam()">
          <div class="form-group">
            <label for="testStem">题干</label>
            <textarea id="testStem" class="form-control" [(ngModel)]="item.testStem" name="testStem"></textarea>
          </div>

          <div class="input-group" *ngFor="let option of cpaOptions;let i of index">
            <div class="input-group-prepend">
              <span class="input-group-text">{{option.selectData}}</span>
            </div>
            <input class="form-control" [(ngModel)]="option.optionData" [name]="option.id">
          </div>

          <div class="form-group">
            <div class="col-md-5">
              <label for="testType">试题类型</label>
              <div class="controls">

                <select class="form-control custom-select" [(ngModel)]="item.testType" name="testType">
                  <option value="null">------</option>
                  <option value="basicAccount">会计基础</option>
                  <option value="cpuAccount">会计电算化</option>
                  <option value="statuteEthics">财经法规与职业道德</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-9">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="single" name="choice" value="single"
                       [(ngModel)]="item.choice"
                       class="custom-control-input">
                <label class="custom-control-label" for="single">单选题</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input name="choice" type="radio" value="multiple" id="multiple"
                       [(ngModel)]="item.choice"
                       class="custom-control-input">
                <label class="custom-control-label" for="multiple">多选题</label>
              </div>
            </div>
          </div>

          <!-- 单选题DOM -->
          <div class="form-group" *ngIf="item.choice == 'single'">
            <div class="col-sm-9">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="radioA" value="A" [(ngModel)]="cpaSolution.result" name="result"
                       class="custom-control-input">
                <label class="custom-control-label" for="radioA">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="radioB" value="B" [(ngModel)]="cpaSolution.result" name="result"
                       class="custom-control-input">
                <label class="custom-control-label" for="radioB">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="radioC" value="C" [(ngModel)]="cpaSolution.result" name="result"
                       class="custom-control-input">
                <label class="custom-control-label" for="radioC">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="radioD" value="D" [(ngModel)]="cpaSolution.result" name="result"
                       class="custom-control-input">
                <label class="custom-control-label" for="radioD">D</label>
              </div>
            </div>
          </div>

          <!-- 多选题DOM -->
          <div class="form-group" *ngIf="item.choice=='multiple'">
            <div class="col-sm-9">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" (click)="selectCheckbox($event.target.checked,'A')"
                       value="A" name="result"
                       id="checkboxA">
                <label class="custom-control-label" for="checkboxA">A</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" (click)="selectCheckbox($event.target.checked,'A')"
                       value="B" name="result"
                       id="checkboxB">
                <label class="custom-control-label" for="checkboxB">B</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" (click)="selectCheckbox($event.target.checked,'C')"
                       value="C" name="result"
                       id="checkboxC">
                <label class="custom-control-label" for="checkboxC">C</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" (click)="selectCheckbox($event.target.checked,'D')"
                       value="D" name="result"
                       id="checkboxD">
                <label class="custom-control-label" for="checkboxD">D</label>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="!updExamForm.form.valid" class="btn btn-primary" (click)="updExam()">提交
        </button>
        <button (click)="udpExamModal.hide()" type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
