<!-- 此组件是登陆/注册弹出层表单 -->
<!-- 代码中的touched 是Angular表单控件状态的一种 -->
<!-- 在 Angular 中表单控件有以下 6 种状态，我们可以通过 #userName="ngModel" 方式获取 ngModel 对象，进而获取控件的状态信息。具体状态如下： -->
<!-- valid - 表单控件有效 -->
<!-- invalid - 表单控件无效 -->
<!-- pristine - 表单控件值未改变 -->
<!-- dirty - 表单控件值已改变 -->
<!-- touched - 表单控件已被访问过 -->
<!-- untouched - 表单控件未被访问过 -->

<div *ngIf="isModalShown" [config]="{ show: true,keyboard: false,ignoreBackdropClick: true }" bsModal
     #loginModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" (onHidden)="handler('onHidden', $event)"
     (onShown)="handler('onShown', $event)">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title pull-left">Auto shown modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <tabset>
          <!--登录表单-->
          <tab (select)="changeLoginSchema()" heading="登陆" class="container">
            <br>
            <form class="form-horizontal" role="form" autocomplete="on" #loginForm="ngForm">
              <div class="form-row mb-3"
                   [ngClass]="{'was-validated':loginUserName.errors?.required && loginUserName.touched || ifshow}">
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user fa-fw"></i>
                      </span>
                  </div>
                  <input class="form-control" type="text" #loginUserName='ngModel' name="userName"
                         [(ngModel)]="cpaUser.userName" placeholder="请输入用户名"
                         required>
                  <div class="invalid-tooltip" *ngIf="ifshow">
                    {{msg}}
                  </div>
                  <div class="invalid-tooltip" *ngIf="loginUserName.errors?.required && loginUserName.touched">
                    用户名不能为空
                  </div>
                </div>
              </div>
              <div class="form-row mb-3 "
                   [ngClass]="{'was-validated':loginPassword.errors?.required && loginPassword.touched || ifshow}">
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-key fa-fw"></i>
                      </span>
                  </div>
                  <input class="form-control" #loginPassword='ngModel' type="password" name="password"
                         [(ngModel)]="cpaUser.password" placeholder="请输入密码"
                         required>
                  <div class="invalid-tooltip" *ngIf="ifshow">
                    {{msg}}
                  </div>
                  <div class="invalid-tooltip" *ngIf="loginPassword.errors?.required && loginPassword.touched">
                    密码不能为空
                  </div>
                </div>
              </div>
              <div class="form-row mb-3"
                   [ngClass]="{'was-validated':loginValidateCode.errors?.required && loginValidateCode.touched || ifshow1}">
                <div class="">
                  <div class="input-group">
                    <input class="form-control" type="text" #loginValidateCode="ngModel" name="validateCode"
                           [(ngModel)]="cpaUser.validateCode"
                           placeholder="证明你不是机器人" required>
                    <div class="invalid-tooltip" *ngIf="ifshow">
                      {{msg}}
                    </div>
                    <div class="invalid-tooltip"
                         *ngIf="loginValidateCode.errors?.required && loginValidateCode.touched">
                      验证码不能为空
                    </div>
                  </div>
                </div>
                <div class="ml-5">
                  <img src="/api/validateCode" #validateCodeUrl0 class="img-fluid rounded" title="点击重新获取验证码"
                       alt="验证码"
                       (click)="reloadValidateCode()">
                </div>
              </div>
              <div class="form-row">
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="cpaUser.isRememberMe"
                         name="isRememberMe" id="isRememberMe">
                  <label class="custom-control-label" for="isRememberMe">记住我</label>
                </div>
              </div>
            </form>
          </tab>
          <!--注册表单-->
          <tab (select)="changeRegisterSchema()" heading="注册" class="container">
            <br>
            <form class="form-horizontal" role="form" #registerForm="ngForm">
              <div class="form-row mb-3" [ngClass]="{'was-validated':newUserName.errors?.rangeLength || ifshow3}">
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user fa-fw"></i>
                      </span>
                  </div>
                  <input class="form-control" type="text" #newUserName="ngModel"
                         (blur)="checkUserName(newUserName.value)" (keyup)="onKeyPress($event)"
                         [rangeLength]="[5,10]" name="userName" [(ngModel)]="registerUser.userName"
                         (ngModelChange)="changeName($event)"
                         placeholder="请输入用户名">
                  <div class="invalid-tooltip" *ngIf="ifshow3">
                    用户名已被占用
                  </div>
                  <div class="invalid-tooltip" *ngIf="newUserName.errors?.rangeLength">
                    用户名长度必须在5到10位之间
                  </div>
                </div>
              </div>
              <div class="form-row mb-3" [ngClass]="{'was-validated':firstPassword.errors?.rangeLength}">
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-key fa-fw"></i>
                      </span>
                  </div>
                  <input class="form-control" #firstPassword="ngModel" [rangeLength]="[6,18]" type="password"
                         name="password" [(ngModel)]="registerUser.password"
                         placeholder="请输入密码">
                  <div class="invalid-tooltip" *ngIf="firstPassword.errors?.rangeLength">
                    密码长度必须在6到18位之间
                  </div>
                </div>
              </div>
              <div class="form-row mb-3" [ngClass]="{'was-validated':secondPassword.errors?.equalTo&&secondPassword.dirty}">
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-key fa-fw"></i>
                      </span>
                  </div>
                  <input class="form-control" #secondPassword="ngModel" type="password" name="confirmPassword"
                         [(ngModel)]="registerUser.confirmPassword"
                         placeholder="确认密码" [equalTo]="firstPassword">
                  <div class="invalid-tooltip" *ngIf="secondPassword.errors?.equalTo&&secondPassword.dirty">
                    两次输入的密码不一致
                  </div>
                </div>
              </div>
              <div class="form-row mb-3"
                   [ngClass]="{'was-validated':registerEmail.errors?.email && registerEmail.touched}">
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-envelope fa-fw"></i>
                      </span>
                  </div>
                  <input class="form-control" #registerEmail="ngModel" type="text" name="email"
                         [(ngModel)]="registerUser.email" placeholder="请输入邮箱地址"
                         email >
                  <div class="invalid-tooltip" *ngIf="registerEmail.errors?.email && registerEmail.touched">
                    邮箱地址有误
                  </div>
                </div>
              </div>

              <div class="form-row"
                   [ngClass]="{'was-validated':registerValidateCode.errors?.required && registerValidateCode.touched || ifshow2}">
                <div class="">
                  <input class="form-control" #registerValidateCode="ngModel" type="text" name="validateCode"
                         [(ngModel)]="registerUser.validateCode"
                         placeholder="证明你不是机器人" required>
                  <div class="invalid-tooltip"
                       *ngIf="registerValidateCode.errors?.required && registerValidateCode.touched">
                    验证码不能为空
                  </div>
                  <div class="invalid-tooltip" *ngIf="ifshow2">
                    验证码错误
                  </div>

                </div>
                <div class="ml-5">
                  <img src="/api/validateCode" #validateCodeUrl1 class="img-fluid rounded" title="点击重新获取验证码" alt="验证码"
                       (click)="reloadValidateCode()">
                </div>
              </div>

            </form>
          </tab>
        </tabset>
      </div>
      <div class="modal-footer login_modal_footer" [ngSwitch]="schema">
        <div>
          <p>
            其他账号登陆：
            <img class="third_party" (mouseenter)="logoMouseenter($event)" (mouseleave)="logoMouseleave($event)" (click)="logoClick('qq')"  src="/assets/image/third_party/qq_connect.png" alt="">
            <img class="third_party" (mouseenter)="logoMouseenter($event)" (mouseleave)="logoMouseleave($event)" (click)="logoClick('chat')" src="/assets/image/third_party/chat_connect.png" alt="">
            <img class="third_party" (mouseenter)="logoMouseenter($event)" (mouseleave)="logoMouseleave($event)" (click)="logoClick('alipay')" src="/assets/image/third_party/zhifubao_connect.png" alt="">
          </p>
        </div>
        <div>
          <button *ngSwitchCase=1 type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary"
                  (click)="login()">登陆
          </button>
          <button *ngSwitchCase=0 type="submit" [disabled]="!registerForm.form.valid" class="btn btn-primary"
                  (click)="register()">注册
          </button>
          <button *ngSwitchDefault type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary"
                  (click)="login()">登陆
          </button>
          <button (click)="loginModal.hide()" type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal -->
</div>
