.third_party {
  height: 2em;
  margin-left: 0.5em;
}
.login_modal_footer{
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  -webkit-align-items: baseline;
}
