<form class="form-horizontal" role="form" (ngSubmit)="submitItem(addItemForm.value)" [formGroup]="addItemForm">

  <fieldset>
    <legend class="">填写题干</legend>
    <div class="form-group">
      <div class="col-md-11">
        <input name="testStem" typ="text" class="form-control" formControlName="testStem" required placeholder="请填写题干">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="">填写选项</legend>
    <div formArrayName="cpaOptions">
      <div class="form-group" *ngFor="let cpaOption of addItemForm.controls.cpaOptions.controls; index as idx">
        <div class="col-md-11">
          <div class="input-group">
            <span class="input-group-addon">{{idx | digitalTransfer}}</span>
            <input class="form-control" [formControlName]="idx" placeholder="请填写选项内容">
          </div>
        </div>
      </div>
    </div>
    <!--    <div class="form-group">
          <div class="col-sm-9">
          formControlName="optionData"
          formControlName="selectData"
            <div class="input-group">
              <span class="input-group-addon">B</span>
              <input [ngModelOptions]="{standalone: true}" class="form-control"
                     [(ngModel)]="cpaOptionDtos[1].optionData"
                     placeholder="请填写选项内容">
              <input style="display: none" [ngModelOptions]="{standalone: true}" class="form-control"
                     value="B" [(ngModel)]="cpaOptionDtos[1].selectData">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">C</span>
              <input [ngModelOptions]="{standalone: true}" class="form-control"
                     [(ngModel)]="cpaOptionDtos[2].optionData"
                     placeholder="请填写选项内容">
              <input style="display: none" [ngModelOptions]="{standalone: true}" class="form-control"
                     value="C" [(ngModel)]="cpaOptionDtos[2].selectData">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">D</span>
              <input class="form-control" [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="cpaOptionDtos[3].optionData"
                     placeholder="请填写选项内容">
              <input style="display: none" class="form-control"
                     value="D" [ngModelOptions]="{standalone: true}" [(ngModel)]="cpaOptionDtos[3].selectData">
            </div>
          </div>
        </div>-->
  </fieldset>

  <fieldset>
    <legend class="">试题类型</legend>

    <div class="form-group">
      <div class="col-md-11">

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="single" (click)="changeGenre('single')" formControlName="choice" name="choice" value="single" checked="checked"
            class="custom-control-input">
          <label class="custom-control-label" for="single">单选题</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="multiple" (click)="changeGenre('multiple')" value="multiple" formControlName="choice" name="choice"
            class="custom-control-input">
          <label class="custom-control-label" for="multiple">多选题</label>
        </div>
      </div>
    </div>


  </fieldset>

  <fieldset>
    <legend class="">试题类型</legend>
    <div class="form-group">
      <div class="col-md-11">
        <div class="controls">
          <select name="testType" class="input-xlarge" required formControlName="testType">
            <option value="basicAccount">会计基础</option>
            <option value="cpuAccount">会计电算化</option>
            <option value="statuteEthics">财经法规与职业道德</option>
          </select>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset [ngSwitch]="genre">
    <legend class="">标准答案</legend>
    <!-- 单选题DOM -->
    <div class="form-group" *ngSwitchCase=1>
      <div class="col-md-11">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="radioA" value="A" formControlName="result" name="result" class="custom-control-input">
          <label class="custom-control-label" for="radioA">A</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="radioB" value="B" formControlName="result" name="result" class="custom-control-input">
          <label class="custom-control-label" for="radioB">B</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="radioC" value="C" formControlName="result" name="result" class="custom-control-input">
          <label class="custom-control-label" for="radioC">C</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="radioD" value="D" formControlName="result" name="result" class="custom-control-input">
          <label class="custom-control-label" for="radioD">D</label>
        </div>
      </div>
    </div>
    <!-- 多选题DOM -->
    <div class="form-group" *ngSwitchCase=2>
      <div class="col-md-11">
        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" (click)="selectCheckbox($event.target.checked,'A')" value="A" name="result"
            id="checkboxA">
          <label class="custom-control-label" for="checkboxA">A</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" (click)="selectCheckbox($event.target.checked,'A')" value="B" name="result"
            id="checkboxB">
          <label class="custom-control-label" for="checkboxB">B</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" (click)="selectCheckbox($event.target.checked,'C')" value="C" name="result"
            id="checkboxC">
          <label class="custom-control-label" for="checkboxC">C</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" (click)="selectCheckbox($event.target.checked,'D')" value="D" name="result"
            id="checkboxD">
          <label class="custom-control-label" for="checkboxD">D</label>
        </div>
      </div>
    </div>

  </fieldset>

  <div class="col-sm-offset-2">
    <button type="submit" class="btn btn-default" [disabled]="!addItemForm.valid">提交</button>
  </div>

</form>