<div class="row">
  <div class="col-md-5 col-md-offset-1" >
    <div class="panel panel-default" *ngFor="let data of Listdata;let i = index" >
      <div class="panel-heading">
        <h3 class="panel-title">第{{i+1}}题.{{data.testStem}}</h3>
      </div>
      <div class="panel-body" >
        <ul class="list" style="margin:0;padding:0;list-style:none">
          <li *ngFor="let options of data.cpaOptionDtos;let k = index">
            <input class="magic-radio" type="radio" name="optionsRadio{{i}}" id="optionsRadio{{i}}{{k}}"/>
            <label for="optionsRadio{{i}}{{k}}">{{options.selectData}}.{{options.optionData}}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <!--这里是右侧动态加载的内容(计算器等)是子组件-->
    <app-util></app-util>
  </div>
</div>



