

.sidebar {
  /*flex: auto;*/
  /*flex-basis:10em;*/
}

.content {
  margin: 0em 5em;
  flex: auto;
}

/*左侧导航栏*/
.main-menu {
  background: #F7F7F7;
  border-right: 1px solid #e5e5e5;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 55px;
  overflow: hidden;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
}

/*所有父元素是a标签的i元素*/
.main-menu a > i {
  position: relative;
  display: table-cell;
  width: 2.8em;
  height: 2em;
  text-align: center;
  top: 12px;
  font-size: 20px;

}

.main-menu:hover, nav.main-menu.expanded {
  width: 15em;
  overflow: hidden;
  opacity: 1;

}

.main-menu > ul {
  margin: 7px 0;

}

.main-menu li > a {
  position: relative;
  width: 255px;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #959595;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .14s linear;
  transition: all .14s linear;
  font-family: 'Strait', sans-serif;
  border-top: 1px solid #F0F0F0;
  box-shadow: inset 0 1px 1px #FAFAFA;
  text-shadow: 1px 1px 1px #fff;
}

.main-menu .nav-text {

  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: auto;
  font-family: 'Titillium Web', sans-serif;
}

.checkbox_label {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

a:hover, a:focus {
  text-decoration: none;
  border-left: 0px solid #F7F7F7;

}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;

}

.main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #00bbbb;
  text-shadow: 0px 0px 0px;
}


/*隐藏checkbox,通过在文件上添加label标签实现点击文字勾选复选框*/
.toggle_accordion {
  display: none;
}

/*所有子菜单默认隐藏状态*/
.item_son {
  display: none;
}


/*checkbox选中显示子菜单,使用伪类实现*/
/*最后两行使用动画效果其中 new-item-animation 是指动画的类*/
.item input:checked ~ .item_son {
  display: block;
  opacity: 0 ;
  animation: item-son-animation 300ms linear forwards;
}

/*动画类*/
@keyframes item-son-animation {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
}

/*子菜单a标签边框为0*/
.item .item_son a {
  border: 0px;
}

.fa-angle-right{

}
