<div class="container-fluid">
  <div class="row justify-content-between">
  <!-- 左侧边栏导航开始 -->
  <div class="sidebar">

    <nav class="main-menu">

      <div class="logo"></div>
      <div class="search" style="display: none">
        <input type="text" placeholder="请输入搜索内容">
      </div>

      <ul>

        <li routerLinkActive="active">
          <a href="javascript:void(0)" [routerLink]="['/manager/dashboard']">
            <i class="fa fa-dashboard"></i>
            <span class="nav-text">主面板</span>
          </a>
        </li>

        <li>
          <a href="javascript:void(0)" [routerLink]="['/manager/updUser']">
            <i class="fa fa-users"></i>
            <span class="nav-text">
              用户管理
            </span>
          </a>
        </li>

      </ul>

      <ul class="item">
        <input type="text" id="item_total" type="checkbox" class="toggle_accordion">
        <li class="item_parent">

          <a href="javascript:void(0)">
            <i class="fa fa-clock-o"></i>
            <span class="nav-text">
              <label for="item_total" class="checkbox_label">试题管理</label>
            </span>
            <i class="fa fa-angle-right arrow"></i>
          </a>
        </li>


        <li class="item_son">
          <a href="javascript:void(0)" [routerLink]="['/manager/addExam']">
            <i class="fa fa-circle-o"></i>
            <span class="nav-text">
              新增试题
            </span>
          </a>
        </li>

        <li class="item_son">
          <a href="javascript:void(0)" [routerLink]="['/manager/updExam']">
            <i class="fa fa-circle-o"></i>
            <span class="nav-text">
              编辑试题
            </span>
          </a>
        </li>
      </ul>

    </nav>


  </div>
  <!-- 左侧边栏导航结束 -->


  <!--后台管理右侧内容-->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
