<div class="row">
  <div class="col-md-5">
    <aside class="sidebar show perfectScrollbar">
      <div id="solso-sidebar">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <div class="input-group custom-search-form">
                  <input type="text" class="form-control" placeholder="Search..."/>
                  <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                  </span>
                </div>
              </div>
          </div>

          <div class="panel panel-default" routerLinkActive="active">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a href="javascript:void(0)" class="single-item" [routerLink]="['/manager/main']">
                    <i class="fa fa-dashboard"></i> 主面板
                  </a>
                </h4>
              </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading2">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true"
                   aria-controls="collapse2">
                  <i class="fa fa-bar-chart-o"></i> 试题管理
                  <i class="pull-right fa fa-caret-down"></i>
                </a>
              </h4>
            </div>

            <div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
              <div>
                <a href="javascript:void(0)" class="list-group-item">新增试题</a>
                <a href="javascript:void(0)" class="list-group-item">pie Chart</a>
                <a href="javascript:void(0)" class="list-group-item">google Chart</a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </aside>
  </div>
  <!--后台管理右侧内容-->
  <div class="col-md-7">
    <!--<router-outlet></router-outlet>-->
  </div>
</div>


