<form class="form-inline" #searchForm="ngForm" (ngSubmit)="getUserList()">
  <div class="form-group">
    <label for="userName">用户名</label>
    <input type="text" [(ngModel)]="cpaUserDto.userName" class="form-control" id="userName" name="userName"
           placeholder="输入要搜索的试题">
  </div>
  <div class="form-group">
    <label for="">注册时间</label>
    <input type="text" class="form-control" placeholder="注册时间" [minDate]="registerMinDate"
           [maxDate]="registerMaxDate" [bsConfig]="bsConfig" bsDaterangepicker
           [(ngModel)]="registerDaterangepickerModel"
           name="registerDaterangepickerModel"/>
  </div>
  <div class="form-group">
    <label for="">最后一次登录时间</label>
    <input type="text" class="form-control" placeholder="注册时间" [minDate]="lastLoginMinDate"
           [maxDate]="lastLoginMaxDate" bsDaterangepicker [(ngModel)]="lastLoginDaterangepickerModel"
           name="lastLoginDaterangepickerModel"/>
  </div>
  <button type="submit" class="btn btn-default">搜索</button>
</form>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>用户名</th>
      <th>注册时间</th>
      <th>上次登录时间</th>
      <th>级别</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of userDtos;let i = index">
      <td>{{i+1}}</td>
      <td>
        {{item.userName}}
      </td>
      <td>{{item.regDate}}</td>
      <td>{{item.lastLoginDate}}</td>
      <td>{{item.insertDate}}</td>
      <!--用户ID-->
      <!--<td>{{item.id}}</td>-->
      <td #idUser abbr="{{item.id}}">
        <a href="javascript:void(0)" (click)="getUserDetail(idUser)">修改</a>
        <a href="javascript:void(0)" (click)="delUserTip(idUser)">删除</a>
      </td>

    </tr>
    </tbody>
  </table>
</div>

<!--修改用户Model-->
<div *ngIf="isModalShown" [config]="{ show: true }" bsModal #updUserModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Auto shown modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" #updUserForm="ngForm" >
          <div class="form-group">
            <div class="col-md-5">
              <div class="input-group">
                <span class="input-group-addon">用户名</span>
                <input class="form-control" [(ngModel)]="cpaUserDto.userName" name="userName">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-5">
              <div class="input-group">
                <span class="input-group-addon">Email</span>
                <input class="form-control" [(ngModel)]="cpaUserDto.email" name="email">
              </div>
            </div>
          </div>
          <label>性别：</label>
          <div class="form-group">
            <div class="col-md-5">
              <label class="radio-inline">
                <input name="gender" type="radio" value="1"  [(ngModel)]="cpaUserDto.gender"> 男
              </label>
              <label class="radio-inline">
                <input name="gender" type="radio" value="0"  [(ngModel)]="cpaUserDto.gender"> 女
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-5">
              <label for="">角色</label>
              <select class="form-control" [(ngModel)]="cpaUserDto.roles" name="roles">
                <option value="basicAccount">普通用户</option>
                <option value="cpuAccount">管理员</option>
                <option value="statuteEthics">超级管理员</option>
              </select>
            </div>
          </div>

          <label>状态：</label>
          <div class="form-group">

            <div class="col-md-5">

              <label class="radio-inline">
                <input type="radio" value=1 name="status" [(ngModel)]="cpaUserDto.status"> 正常
              </label>
              <label class="radio-inline">
                <input type="radio" value=0 name="status" [(ngModel)]="cpaUserDto.status"> 锁定
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="!updUserForm.form.valid" class="btn btn-primary" (click)="updUser()">提交
        </button>
        <button (click)="updUserModal.hide()" type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
